@page
@model ContosoCrafts.WebSite.Pages.About_UsModel
@{
    ViewData["Title"] = "About Us";
}

<html>

<head>
</head>

<body>

    <h1 style="color: ghostwhite;">@ViewData["Title"]</h1>

    <p style="color: ghostwhite;">
        Welcome to Handy Rent! We are a team of four passionate individuals who came together to create this project.
        Our goal is to create a cutting-edge online marketplace where customers may rent a variety of goods, such as
        camping equipment, power tools, and more. With the help of this website, users will be able to advertise their
        products for rent and find items they need for short-term use.
    </p>

    <h2 style="color: ghostwhite;">Motto</h2>

    <p style="color: ghostwhite;">
        Building a strong web-based platform that enables users to explore, look for, and rent various things
        across multiple categories. Items can be listed and managed easily by users, who can also set
        prices, control availability, and provide thorough descriptions and photographs. Dashboard will be
        created for managing reservations and provide confirmations. Creating a sophisticated search and
        recommendation system that will aid consumers in finding products quickly. Users will learn about
        appropriate renting possibilities. Manuals and tutorials will be provided for the users.
    </p>

    <h2 style="color: ghostwhite;">Meet the Team</h2>
    <!-- A piece of code to display the images of all the team members -->
    <div class="row">
        <div class="column">
            <img src="~/images/Srishti_Adkar.png" alt="Team Member 1">
            <h4 style="color: ghostwhite;">Srishti Adkar</h4>
        </div>

        <div class="column">
            <img src="~/images/Yashashree_Deshpande.png" alt="Team Member 2">
            <h4 style="color: ghostwhite;">Yashashree Deshpande</h4>
        </div>

        <div class="column">
            <img src="~/images/Rupa_Dinesh_Lnu.png" alt="Team Member 3">
            <h4 style="color: ghostwhite;">Rupa Dinesh Lnu</h4>
        </div>

        <div class="column">
            <img src="~/images/John_Vikas_Kotaru.png" alt="Team Member 4">
            <h4 style="color: ghostwhite;">John Vikas Kotaru</h4>
        </div>
    </div>
    <br />
    <p style="color: ghostwhite;">Together, we are dedicated to ensuring a smooth transaction to our users. We believe in offering a secure and user-friendly environment.</p>

</body>

</html>
