@page
@{
	ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to Handy Rent! We are a team of four passionate individuals who came together to create this project. 
    Our goal is to to create a cutting-edge online marketplace where customers may rent a variety of goods, such as 
    camping equipment, power tools and more. With the help of this website, users will be able to advertise their 
    products for rent and find items they need for short-term use.

</p>

<h2>Motto</h2>

<p>
    Building a strong web-based platform that enables users to explore, look for, and rent various things
    across multiple categories. Items can be listed and managed easily by users, who can also set
    prices, control availability, and provide thorough descriptions and photographs. Dashboard will be
    created for managing reservations and provide confirmations. Creating a sophisticated search and
    recommendation system that will aid consumers in finding products quickly. Users will learn about
    appropriate renting possibilities. Manuals and tutorials will be provided for the users.
</p>

<h2>Meet the Team</h2>

<div class="team-member">
    <img src="~/images/Srishti_Adkar.png" alt="Team Member 1">
    <h3>Srishti Adkar</h3>
</div>

<div class="team-member">
    <img src="~/images/Yashashree_Deshpande.png" alt="Team Member 2">
    <h3>Yashashree Deshpande</h3>
</div>

<div class="team-member">
    <img src="~/images/Rupa_Dinesh_Lnu.png" alt="Team Member 3">
    <h3>Rupa Dinesh Lnu</h3>
</div>

<div class="team-member">
    <img src="~/images/John_Vikas_Kotaru.png" alt="Team Member 4">
    <h3>John Vikas Kotaru</h3>
</div>

<p>Together, we are dedicated to ensuring a smooth transaction to our users. We believe in offering a secure and user-friendly environment.</p>