@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img src="~/images/Error_image.png" alt="Error Image" class="error-image" />
    <h1 class="display-4">Oops! Something went wrong.</h1>
    <p class="lead">We're sorry, but an error occurred while processing your request.</p>
    <p>Please try again later!</p>
    <p>
        <a class="btn btn-primary" href="/">Go to Home</a>
    </p>
</div>

@if (Model.ShowRequestId)
{
    <p class="text-danger">
        <strong>Error: </strong> <code>@Model.Message</code>
    </p>
    <p class="text-danger">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}