   .checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

/* Styles for card columns with a fixed height, Pantra font, and a light purple background */
.card-columns .card-body {
    height: 100px;
    font-family: 'Pantra', sans-serif;
    background: #fbfafd;
    /*color: black;*/
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*.modal-title {
    color: black;
}

.modal-body .card .card-body .card-text {
    color: black;
}
*/

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #fbfafd;
}

/* Styles for navigation bar */
a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/*Update colour of the body */
.background-color {
    color: black;
}

/* Provide sufficient contrast against white background */
a {
    color: #099ceb;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* Background image */
    background-image: url('../images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-primary:hover {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #a6c9f7;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #a6c9f7;
}
.border-bottom {
    border-bottom: 1px solid #a6c9f7;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
p {
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-family: 'Nunito', sans-serif;
}
ul {
    font-family: 'Nunito', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 50%, #252152 55%);
    background: -o-linear-gradient(110deg, #e9a8a6 50%, #252152 55%);
    background: -moz-linear-gradient(110deg, #e9a8a6 50%, #252152 55%);
    background: linear-gradient(110deg, #a6c9f7 50%, #252152 55%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 50%, #e9a8a6 55%);
    background: -o-linear-gradient(110deg, #252152 50%, #e9a8a6 55%);
    background: -moz-linear-gradient(110deg, #252152 50%, #e9a8a6 55%);
    background: linear-gradient(110deg, #252152 50%, #a6c9f7 55%);
}

.privacy-header {
    color: ghostwhite;
    padding-left: 10px;
}

.privacy-content {
    color: ghostwhite;
    font-style: oblique;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: auto;
}

div.transbox {
    background-color: rgb(0, 0, 0, 0.5);
}

div.transbox-index {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0px;
}

.about_us-header {
    color: white;
    padding-left: 10px;
}

.about_us-content {
    color: white;
    font-style: oblique;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: auto;
}

.team-member-image {
    max-width: 256px; /* Set a max width for team member images */
}

.team-member-name {
    color: black;
    padding-left: 20px;
    text-align: center; /* Center the team member names */
}

.text-danger {
    color: red;
}

.form-container {
    color: black;
    font-weight: bold;
}

.delete-header {
    color: black;
}

.btn-create {
    color: white;
    background-color: #007bff;
    border-color: #252152;
}

.table-heading {
    color: white;
    text-align: center;
}

.table-field-title {
    color: white;
    font-weight: 500;
}

.table-field {
    color: white;
    text-align: center;
    font-weight: 400;
    padding-left: 10px;
}

ul li {
    list-style-position: inside;
    padding-left: 10px;
}